name: ReSharper Code Analysis

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "master"
      - "release/**"

permissions:
  contents: read

jobs:
  inspect-code:
    name: ReSharper InspectCode
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      security-events: write

    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: recursive

    - name: Setup .NET
      id: setup-dotnet
      uses: actions/setup-dotnet@v5.0.1
      with:
          dotnet-version: '9.0.x'

    - name: Cache NuGet packages
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build -c Release --no-restore

    - name: ReSharper CLI InspectCode
      uses: muno92/resharper_inspectcode@1.15.4
      with:
         solutionPath: ./Rivulet.sln
         version: 2025.3.0.3
         failOnIssue: '1'
         noBuild: true
         solutionWideAnalysis: true
         minimumReportSeverity: WARNING
         minimumSeverity: warning
         dotnetVersion: ${{ steps.setup-dotnet.outputs.dotnet-version }}
         include: **.cs
         exclude: **/obj/**;**/bin/**;**/TestResults/**;**/samples/**;**/tests/**
         properties: Configuration=Release
            