name: ReSharper Code Analysis

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "master"
      - "release/**"

permissions:
  contents: read

jobs:
  inspect-code:
    name: ReSharper InspectCode
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      security-events: write

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: recursive

    - name: Setup .NET
      id: setup-dotnet
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
          dotnet-version: '9.0.x'

    - name: Cache NuGet packages
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore dependencies
      run: dotnet restore Rivulet.slnx

    - name: Build solution
      run: dotnet build Rivulet.slnx -c Release --no-restore

    - name: ReSharper CLI InspectCode
      uses: muno92/resharper_inspectcode@a63335b1d72c215c2be11aea8c318eda74259c1e # 1.15.5
      with:
         solutionPath: ./Rivulet.slnx
         version: 2025.3.1
         failOnIssue: '1'
         noBuild: true
         solutionWideAnalysis: true
         minimumReportSeverity: WARNING
         minimumSeverity: warning
         dotnetVersion: ${{ steps.setup-dotnet.outputs.dotnet-version }}
         include: '**/**.cs'
         exclude: '**/obj/**;**/bin/**;**/TestResults/**'
         properties: 'Configuration=Release'
            